{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 >{{ user.name }} {{ user.surname }}</h3>
    </div>
</div>

<div class="container">

    <span class="h3">My post</span>
    <p></p>
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card shadow-sm p-3 mb-5 rounded" style="margin-bottom: 6%;">
                <div class="card-body">
                    <h5 class="card-title"> {{ post.title }} </h5>
                    {% if post.image %}
                    <a href="{{ post.get_absolute_url }}"><img class="card-img" height="100"
                                                               src="{{ post.image.url }}" alt="img"></a>
                    {% else %}
                    <a href="{{ post.get_absolute_url }}"><img class="card-img" height="300"
                                                               src="{% static 'img/no_img.png' %}" alt="img"></a>
                    {% endif %}
                    <p class="card-text"> {{ post.short_description }} </p>
                    <p class="card-text"> Category: {{ post.category }} </p>
                    <p class="card-text text-primary"> Author: {{ post.author.name }} {{ post.author.surname }} </p>
                    <p class="card-text"> Comments: {{post.get_count_comment_for_post}}</p>
                    <p class="load">Like: {{ post.get_count_like }}</p>

                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary shadow-sm ">read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}