{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3>Category</h3>
    </div>
</div>
    <div class="row">
        {% for category in category_list %}
        <div class="col-sm-4">
            <a href="{{ category.url }}" class="btn btn-primary btn-block">{{category.title}}</a>
            <span class="badge badge-primary badge-pill" style="margin-bottom: 2%;">{{ category.count }}</span>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
