{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ post.title }}</h1>
        <p class="lead">{{ post.description }}</p>
        <p class="load">{{ post.text }}</p>
        <p class="card-text"> Author: {{ post.author.name }} {{ post.author.surname }} </p>
    </div>
</div>

{% if post.image %}
<a href="{{ post.get_absolute_url }}"><img alt="img" class="card-img"  src="{{ post.image.url }}"
                                           width="300"></a>
{% else %}
<a href="{{ post.get_absolute_url }}"><img alt="img" class="card-img"  src="{% static 'img/no_img.png' %}"
                                           width="300"></a>
{% endif %}

<p> </p>

{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid">
<div class="container">
        <form class="form-group"  method="POST">
          {% csrf_token %}
          <div class="text-left mb-4">
            <p class="h3">create_comment</p>
          </div>
            <textarea rows="4" cols="50"  name="text_comment" class="form-control" placeholder="text_comment" required></textarea><br/>
            <button class="btn btn-primary btn-block" type="submit">create_comment</button><br/>
        </form>
      </div>
</div>
{% endif%}

{% for comment in comment_list %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">Author: {{ comment.author.name }} {{ comment.author.surname }}</p>
        <p class="load">{{ comment.text_comment }}</p>
        <p class="load">{{ comment.pub_date}}</p>
    </div>
</div>
{% endfor %}

{% endblock content %}